* { margin: 0; padding: 0; box-sizing: border-box; }

body 
{
    min-height: 100vh;
    background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-bg 
{
    display: block;
    margin: 0 auto;
    border-radius: 16px;
    border:#504133 2px solid;
    width: 1000px;
    height: 620px;
    object-fit: cover;
}

.toggle-bar
{
    display: flex;
    align-items: center;
    gap: 5px;
    background: #776652;
    border-radius: 0px;
    border: 2px solid #4d3820;
    padding: 4px;
    white-space: nowrap;
}

.toggle-bar button
{
    border: 2px solid transparent;
    background: transparent;
    border-radius: 0px;
    padding: 6px 16px;
    font-family: 'Questrial', sans-serif;
    font-size: 0.9rem;
    color: #f1d9be;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.toggle-bar button:hover
{
    background: #d4b89627;
    border-radius: 2px;
    border: 2px solid #2e1b0b41;
    /* font-size: 1.0rem; */
}

.toggle-bar button.active
{
    background: #836549;
    color: #f5e6ce;
    border-color: #2e1b0b;
}

.win-bg-wrapper
{
    position: relative;
    width: 1000px;
    height: 620px;
    border-radius: 16px;
    overflow: hidden;
}

.win-bg-wrapper .win-bg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.win-bg-wrapper .toggle-bar
{
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}